<IfModule mod_rewrite.c>
 	RewriteEngine on
 	RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
 	# admin.zaoing.com
	# If a directory or a file exists, use the request directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# Otherwise forward the request to pindex.php
	RewriteRule . index.php [L]
</IfModule>